@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Poppins_700";
  src: url(/fonts/Poppins/Poppins-Bold_700.ttf);
}
@font-face {
  font-family: "Poppins_300";
  src: url(/fonts/Poppins/Poppins-Light_300.ttf);
}
@font-face {
  font-family: "Poppins_500";
  src: url(/fonts/Poppins/Poppins-Medium_500.ttf);
}
@font-face {
  font-family: "Poppins_400";
  src: url(/fonts/Poppins/Poppins-Regular_400.ttf);
}
@font-face {
  font-family: "Poppins_600";
  src: url(/fonts/Poppins/Poppins-SemiBold_600.ttf);
}
/*plugins*/
/*common settings*/
.body {
  max-width: 1240px;
  margin: 0px auto;
  padding: 0 10px;
}

@media (max-width: 1240px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
.wrapper {
  background: #E5E5E5;
}

.header {
  background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}
.header__body:after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 0;
  border-style: solid;
  z-index: 7;
  border-width: 80px 50vw 0 50vw;
  border-color: transparent #E5E5E5 #E5E5E5 #E5E5E5;
  width: 100vw;
  height: 100px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins_500";
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  color: white;
  width: 100%;
}
.header__menu h1 {
  font-size: 20px;
  font-family: "Poppins_700";
  line-height: 30px;
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 85px;
  width: 100%;
}
.header__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  color: white;
  width: 50%;
}
.header__description a {
  color: white;
  font-family: "Poppins_500";
  font-style: normal;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  line-height: 27px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  padding: 10px 30px;
}
.header__description h1 {
  font-family: "Poppins_400";
  font-style: normal;
  font-size: 55px;
  line-height: 82px;
  margin: 5px 0 30px 0;
}
.header__description p {
  font-family: "Poppins_700";
  width: 80%;
  font-size: 25px;
  line-height: 38px;
  opacity: 0.5;
}
.header__description a:last-child {
  font-family: "Poppins_600";
  font-style: normal;
  font-size: 25px;
  line-height: 38px;
  background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
  border-radius: 27px;
  color: #FEFEFE;
  margin-top: 70px;
  padding: 30px 50px;
}
.header__pictures {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  position: relative;
  /*dots, upper one is fisrt*/
  /*lines, upper one is fourth*/
}
.header__pictures :nth-child(1) {
  position: absolute;
  top: 0;
  z-index: 3;
  left: 0px;
}
.header__pictures :nth-child(3) {
  position: absolute;
  bottom: 0;
  z-index: 3;
  right: 0px;
  width: 7%;
}
.header__pictures :nth-child(4) {
  position: absolute;
  top: 8%;
  z-index: 3;
  right: 0;
}
.header__pictures :nth-child(5) {
  position: absolute;
  bottom: 0%;
  z-index: 3;
  left: -20%;
}
.header__woman {
  position: absolute;
  left: -190px;
  top: -190px;
  width: 900px;
}

.menu-header h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.menu-header__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-header__categories a {
  margin-right: 80px;
  color: white;
  z-index: 10;
}
.menu-header__categories a:hover {
  border-bottom: 2px solid white;
  -webkit-transition: border-bottom 0.3s ease-in-out;
  transition: border-bottom 0.3s ease-in-out;
}
.menu-header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-header__login a {
  z-index: 5;
  margin-right: 25px;
  color: white;
}
.menu-header__login a:last-child {
  padding: 14px 44px;
  margin-top: -14px;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
  border-radius: 100px;
}

.destinations {
  height: 460px;
  margin-top: px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.destinations__body {
  height: 460px;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.destinations__describe {
  width: 30%;
  color: #0F1F1C;
  justify-self: flex-start;
}
.destinations__describe h2 {
  font-family: "Poppins_600";
  font-size: 30px;
  line-height: 45px;
}
.destinations__describe h1 {
  font-family: "Poppins_600";
  font-size: 55px;
  line-height: 82px;
}
.destinations__describe p {
  font-family: "Poppins_500";
  font-size: 25px;
  line-height: 38px;
  color: #0F1F1C;
  opacity: 0.5;
  padding: 15px 0 60px 0;
}
.destinations__describe a {
  display: inline-block;
  font-family: "Poppins_600";
  font-size: 20px;
  line-height: 30px;
  color: #FEFEFE;
  background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
  border-radius: 27px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 25px 45px;
}
.destinations__slider {
  min-width: 0;
}

.slider-body {
  padding: 30px 0 70px 0;
  width: 60%;
  position: relative;
}
.slider-body__wrapper {
  position: relative;
}
.slider-body__image {
  text-align: center;
}
.slider-body__image img {
  max-width: 100%;
}

.swiper-container {
  position: relative;
  width: 400px;
  height: 400px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.swiper-wrapper {
  position: relative;
}

.swiper-slide {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-align: center;
  padding: 0 15px;
}

.swiper-slide-active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.swiper-slide-prev, .swiper-slide-next {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.5;
}

.swiper-button-next {
  position: absolute;
  right: 0;
  top: 50%;
  display: inline-block;
  background-color: red;
  width: 70px;
  z-index: 10;
}

.swiper-button-prev {
  position: absolute;
  left: 0;
  top: 50%;
  display: inline-block;
  background-color: red;
  width: 70px;
  z-index: 10;
}

.customerssay {
  margin-top: 190px;
  margin-bottom: 250px;
}
.customerssay__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.customerssay__img {
  margin-right: 50px;
}
.customerssay__img img {
  border-radius: 10%;
}
.customerssay__description {
  max-width: 560px;
}

.cusdescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cusdescription__title {
  font-family: "Poppins_500";
  font-size: 45px;
  line-height: 68px;
  color: #0F1F1C;
}
.cusdescription__item {
  margin: 50px 0;
}
.cusdescription__text {
  font-family: "Poppins_500";
  font-size: 22px;
  line-height: 33px;
  color: #0F1F1C;
  opacity: 0.5;
}
.cusdescription__stars {
  margin-top: 30px;
}
.cusdescription__stars img {
  margin-right: 10px;
}

.cus-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.cus-item__icon {
  width: 150px;
  height: 150px;
  background-color: #FF794E;
  border-radius: 50%;
  margin-right: 40px;
}
.cus-item__title {
  font-family: "Poppins_500";
  font-size: 33px;
  line-height: 50px;
  color: #0F1F1C;
}
.cus-item__description {
  font-family: "Poppins_400";
  font-size: 25px;
  line-height: 38px;
  color: #0F1F1C;
  opacity: 0.5;
}

.getstarted__body {
  position: relative;
  background-color: white;
  border-radius: 60px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.getstarted__title {
  max-width: 520px;
  font-family: "Poppins_500";
  font-size: 45px;
  line-height: 68px;
  text-align: center;
  color: #0F1F1C;
  margin: 120px 0 60px 0;
}
.getstarted__text {
  font-family: "Poppins_400";
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #0F1F1C;
  opacity: 0.5;
}
.getstarted__button {
  font-family: "Poppins_600";
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
  border-radius: 27px;
  padding: 25px 55px;
  margin: 60px 0 120px 0;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.getstarted__dots-1 {
  position: absolute;
  top: 75px;
  right: 80px;
}
.getstarted__dots-2 {
  position: absolute;
  -webkit-transform: flip;
          transform: flip;
  bottom: 75px;
  left: 80px;
}