@import "nonestyle.scss";
@font-face {
	font-family: "Poppins_700";
	src: url(/fonts/Poppins/Poppins-Bold_700.ttf);
}
@font-face {
	font-family: "Poppins_300";
	src:url(/fonts/Poppins/Poppins-Light_300.ttf)
}
@font-face {
	font-family: "Poppins_500";
	src:url(/fonts/Poppins/Poppins-Medium_500.ttf)
}
@font-face {
	font-family: "Poppins_400";
	src:url(/fonts/Poppins/Poppins-Regular_400.ttf)
}
@font-face {
	font-family: "Poppins_600";
	src:url(/fonts/Poppins/Poppins-SemiBold_600.ttf)
}
/*plugins*/

/*common settings*/
.body{
	max-width: 1240px;
	margin: 0px auto;
	padding: 0 20px;


}
body._lock{
	overflow: hidden;
}

@media (max-width: 1240px){
	.body {
		max-width: 970px;
	}	
	}
@media (max-width: 994px){
	.body{
		 max-width: 890px;
		
	}
}
@media (max-width: 767px){
	.body{
		max-width: none;
	}	
	}
.wrapper {   
	background: #E5E5E5;


}



.header {
	background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
	
	overflow: hidden;
	padding-bottom: 100px;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		border-style: solid;
		z-index: 7;
		border-width: 80px 50vw 0 50vw;
		border-color: transparent #E5E5E5 #E5E5E5 #E5E5E5;
		background: transparent;
		
		
		
  }


	&__body {
		
		

		

	}
	&__logo{
		position: relative;
		z-index: 10;
		display: inline-block;
		font-family: 'Poppins_700';
		font-size: 20px;
		line-height: 30px;
		margin-top: -15px;

	}

	&__menu {
		display: flex;
		padding-top: 55px;
		align-items: center;
		font-family: "Poppins_500";
		font-size: 15px;
		font-weight: 500;
		line-height: 23px;
		color: white;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		min-height: 70px;
		
	}

	&__main {
		display: flex;
		position: relative;
		margin-top: 85px;
		width: 100%
	}

	&__description {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		text-align: left;
		color: white;
		width: 50%;

		a{	
			color: white;
			font-family: 'Poppins_500';
			font-style: normal;
			display: inline-block;
			width: fit-content;
			font-size: 18px;
			line-height: 27px;
			background: rgba(255, 255, 255, 0.25);
			border-radius: 15px;
			padding:10px 30px;
			
		}
		h1{
			font-family: 'Poppins_400';
			font-style: normal;
			font-size: 55px;
			line-height: 82px;
			margin: 5px 0 30px 0;
		}
		p{
			font-family: 'Poppins_700';
			width: 80%;
			font-size: 25px;
			line-height: 38px;
			opacity: 0.5;

		}
		a:last-child{
			font-family: 'Poppins_600';
			font-style: normal;
			font-size: 25px;
			line-height: 38px;
			background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
			border-radius: 27px;
			color: #FEFEFE;
			margin-top: 70px;
			padding: 30px 50px;
			
			
			
		}
	}

	&__pictures {
		width: 50%;
		flex: 1;
		position: relative;
		
		position: relative;
				/*dots, upper one is fisrt*/
			:nth-child(1){
				position: absolute;
				top: 0;
				z-index:3;
				left: 0px;
				
							
			}
			:nth-child(3){
				position: absolute;
				bottom: 0;
				z-index:3;
				right: 0px;
				width: 7%;
							
			}
			/*lines, upper one is fourth*/
			:nth-child(4){
				position: absolute;
				top: 8%;
				z-index:3;
				right: 0;
							
			}
			:nth-child(5){
				position: absolute;
				bottom: 0%;
				z-index:3;
				left: -20%;
							
			}
	
	}
	&__woman {
		position: absolute;
		left: -190px;
		top: -190px;
		
		width: 900px;
	}

}

.menu-header {
	
		&__body{

		}
		&__icon{
			
		}

		&__categories {
			display: flex;
			justify-content: space-between;
			margin-top: -15px;
			

			li{
				font-family: 'Poppins_500';
				font-size: 15px;
				line-height: 22px;
				margin-right: 80px;
				z-index: 2;
			}

			a{
				color: white;

				&:hover {
					
					border-bottom: 2px solid white;
					transition: border-bottom 0.3s ease-in-out;
				  }
							
			}

		}
		&__login {
			display: flex;
			justify-content: space-between;

			a{	
				z-index: 5;
				margin-right:25px;
				color: white;
				&:last-child{
					padding: 14px 44px;
					margin-top: -14px;
					margin-right: 0;
					display: inline-block;
					width: fit-content;
					background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
					border-radius: 100px;
					;
				}
			}

		}
}
@media (max-width: 994px){
	.body {
		max-width: 750px;
	}	
	.menu-header{
		&__categories{
			li{
				margin-right: 15px;

			}
		}
	}
	.header{
		&__description{
			h1{
				 font-size: 45px;
			}
		}
		&__woman{
			 left: -120px;
			 top: -70px;
		}
	}
	}
@media (max-width: 767px){
	.header{
		&__logo{
			order: 2;
			
		}
		&__main{
			margin-top: 20px;
			height: 70vh;
		}
		&__description{
			justify-content: space-between;
			z-index: 2;
			
			a{
				margin-top: 20px;
				font-size: 15px;
				padding: 10px 15px;
			}
			h1{
				font-size: 35px;
				margin: 0;
				line-height: 50px;

			}
			p{
				font-size: 15px;

			}
			a:last-child{
				margin: 0;
				font-size: 20px;
				padding: 10px 15px;
			}
		}
		&__pictures{
			:nth-child(1){
				display: none;
			}
			:nth-child(3){
				display: none;
			}
			:nth-child(4){
				display: none;
			}
			:nth-child(5){
				display: none;
			}
		}
		&__woman{
			width: 700px;
			position: absolute;
			z-index: 1;

			top: 0;
		}
	}
	.menu-header{
		///burger icon
		&__icon{
			
			order: 1;
			z-index:15;
			display: inline-block;
			position: relative;
			width: 30px;
			height: 18px;
			top: 50%;
			cursor: pointer;
			&::before,
			&::after,
			span {
				left: 0;
				position: absolute;
				height: 10%;
				width: 100%;
				transition: all 0.3s ease 0s;
				background-color: white;

			}
			&::before,
			&::after{
				content: "";
				z-index: 3;
			}
			&::before{
				top: 0;

			}
			&::after{
				bottom: 0;
			}
			span{
				top: 50%;
				transform: scale(1)translate(0px, -50%);
			}
			&._active{
				span{
					transform: scale(0) translate(0px, -50%);
				}
				&::before{
					top:50%;
					transform: rotate(-45deg) translate(0px, -50%);
				}
				&::after{
					bottom: 50%;
					transform: rotate(45deg) translate(0px, 50%);
				}

			} 


		}
		&__body{
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background-color: black;
			opacity: 0.9;
			transition: left 0.3s ease 0s;
			z-index: 10;
			padding: 100px 30px 30px 30px;
		
			&._active{
				left: 0;
			}
		&::before{

		}
		}
		&__categories{
			margin-top: 15px;
			display: block;
			li{
				font-size: 25px;
				margin: 0px 0px 30px 0px;
				&:last-child{
					margin-bottom: 0;
				}
			}

		}
		&__login{
			order: 3;
		}

	}

}

@media (max-width: 390px){
	.header{
		&__description{
			width: 100%;
			
		}
		&__pictures{
			
			display: none;
		}
	}
}
.destinations {
	display: flex;
	align-items: center;
	flex-direction: row;
	
	&__body{
		
		margin-top: 120px;	
		display: flex;
		align-items: center;
		flex-direction: row;
		width: 100%;
		position: relative;

	}

	&__describe {
		width: 45%;
		color: #0F1F1C;
		justify-self: flex-start;	
		h2{
			font-family: 'Poppins_600';
			font-size: 30px;
			line-height: 45px;
			

		}
		h1{
			font-family: 'Poppins_600';
			font-size: 55px;
			line-height: 82px;

		}
		p{
			font-family: 'Poppins_500';
			font-size: 25px;
			line-height: 38px;
			color: #0F1F1C;
			opacity: 0.5;
			padding: 15px 0 60px 0;

		}
		a{
			display: inline-block;
			font-family: 'Poppins_600';
			font-size: 20px;
			line-height: 30px;
			color: #FEFEFE;
			background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
			border-radius: 27px;
			width: fit-content;
			padding: 25px 45px;
			
			
		}

}
	&__slider {
		flex: 1 auto;
		display: flex;
		justify-content: center;

	}
}


@media (max-width: 992px){
	.destinations{
		&__body{
			flex-direction: column;

		}
		&__describe{
			width: 100vw;
			
			text-align: center;
			h1, h2, p, a {
				text-align: center;
			}
			h2{
				text-align: center;
			}
			p{

			}
			a{

			}
		}
		&__slider{
			margin-top: 20px;
			width: 100vw;
		}
	}
	.slider-body{
		width: 100vw;
	}
}
@media (max-width: 767px){
	.destinations{
		&__slider{
			margin-top: 40px;
		
		}
	}
	.slider-body{
		&__wrapper{
			left: 150px;
		}
		
	}
	}
@media (max-width: 390px){
	.destinations{
		margin-top: 30px;
		
		&__body{
			flex-direction: column;
			margin-top: 0;
		}
		&__describe{
			width: 100vw;
			text-align: center;
			
			h1{
				font-size: 50px;
			}
			h2{
				font-size: 30px;
			}
			p{
				font-size: 20px;
				padding-bottom: 25px;
			}
			a{
				
			}
		}
		&__slider{
			margin-top: 15px;
			width: 100vw;
		}
	}
	.swiper-button-next, .swiper-button-prev{
		width: 40px;
		height: 40px;
	}
	.slider-body{
		&__wrapper{
			left: 250px;
		}
		
	}
}
.slider-body {
	overflow: hidden;
	max-width: 900px;
	width: 100%;

	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		
	
		
	}
	&__slide {
		max-width: 300px;
		

	}
	&__image {
		width: inherit;


		
		img {
	
			width: inherit;
			display: block;

			
			
		}
	}
}
.swiper-container {


}
.swiper-wrapper {
	
	
}
.swiper-slide {
	transition: all 0.3s ease-out;
	text-align: center;
	padding: 0 15px;
	background-position: center;
	background-size: cover;
	text-align: center;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	
	

}
.swiper-slide-active {
	transform: scale(1.8);
}
.swiper-slide-prev, .swiper-slide-next{
	transform: scale(0.8);
	opacity: 0.5;

}
.swiper-button-next, .swiper-button-prev {
	position: absolute;
	top:50%;
	color: white;
	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
	border-radius: 34px;
	width: 70px;
	height: 70px;
	z-index: 10;
	border-radius: 50px;
	text-align: center;
	
}
.swiper-button-next::after, .swiper-button-prev::after{


}
.swiper-button-next {
	right: 0;

}
.swiper-button-prev {
	left: 0;
	

	
}



.customerssay {
	margin-top: 150px;
	margin-bottom: 200px;
	&__body {
		display: flex;

	}

	&__img {
		margin-right: 50px;
		img{
			border-radius: 10%;


		};
	
		
	}

	&__description {
		max-width: 560px;
	}
}
@media (max-width: 994px){
	.customerssay{
		margin-top: 100px;
		margin-bottom: 175px;
		&__body{
			display: flex;

		}
		&__img{
			margin-right: 25px;
			max-width: 50%;
			position: relative;

			img{
				 object-fit: cover;
				 width: 100%;
				 height: 100%;
				 
			}
		&__description{
				flex: 1 auto;
				}
		}
	}
}
@media (max-width: 767px){
	.customerssay{
		margin-top: 100px;
		&__body{
			display: flex;

		}
		&__img{
			display: none;
		}
	}
}

.cusdescription {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	&__title {
		font-family: 'Poppins_500';
		font-size: 45px;
		line-height: 68px;
		color: #0F1F1C;
	}

	&__item {
		margin: 50px 0;
	}

	&__text {
		font-family: 'Poppins_500';
		font-size: 22px;
		line-height: 33px;
		color: #0F1F1C;
		opacity: 0.5;
	}

	&__stars {
		margin-top: 30px;
		img{
			margin-right: 10px;
		}
	}
}
.cus-item {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	&__icon {
		width: 150px;
		height: 150px;
		background-color: #FF794E;
		border-radius: 50%;
		margin-right: 40px;
	}

	&__text {
	}

	&__title {
		font-family: 'Poppins_500';
		font-size: 33px;
		line-height: 50px;
		color: #0F1F1C;
	}

	&__description {
		font-family: 'Poppins_400';
		font-size: 25px;
		line-height: 38px;
		color: #0F1F1C;
		opacity: 0.5;
	}
}
@media(max-width: 1200px){
	.cusdescription {
		
		&__title {
			font-family: 'Poppins_500';
			font-size: 40px;
			line-height: 50px;
		
		}}
}
@media(max-width: 994px){

.cusdescription {

		&__title {
		
		}

		&__item {
		}

		&__text {
		}

		&__stars {
		}
}
.cus-item {

		&__icon {
		}

		&__text {
		}

		&__title {
		}

		&__description {
		}
}

}
@media (max-width: 767px){
	.customerssay{
		margin-top: 100px;
		&__body{
			display: flex;
			justify-content: center;
		}

	.cusdescription {
		margin: 0 auto;
		align-items: center;
	}	
}}
@media (max-width: 390px){
	
	.cusdescription{
		margin: 0 10px;
		&__title{
			line-height: 45px;
			font-size: 35px;
		}
		&__text{
			margin: 0 10px;
		}
	}
}

.getstarted {

	&__body {
		position: relative;
		background-color: white;
		border-radius: 60px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}

	&__title {
		max-width: 520px;
		font-family: 'Poppins_500';
		font-size: 45px;
		line-height: 68px;
		text-align: center;
		color: #0F1F1C;
		margin: 120px 0 60px 0;
	}

	&__text {
		font-family: 'Poppins_400';
		font-size: 30px;
		line-height: 45px;
		text-align: center;
		color: #0F1F1C;
		opacity: 0.5;
	}

	&__button {
		font-family: 'Poppins_600';
		font-size: 20px;
		line-height: 30px;
		color: #FFFFFF;
		background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
		border-radius: 27px;
		padding: 25px 55px;
		margin: 60px 0 120px 0;
		display: inline-block;
		width: fit-content;
		
	}

	&__dots-1 {
		position: absolute;
		top: 75px;
		right: 80px;

	}
	&__dots-2 {
		position: absolute;
		transform: flip;
		bottom: 75px;
		left: 80px;

	}

}

@media (max-width: 767px){
	.getstarted{
		margin: 0 10px;
		&__body{
			img{
				width: 7%;
			}

		}
		&__title{
			margin: 60px 0 30px 0;
			z-index: 2;
		}
		&__button{
			margin: 30px 0 60px 0;
		}
	}
}
@media (max-width: 390px){
	.getstarted{
		&__title{
			font-size: 30px;
			line-height: 48px;
		}
		&__text{
			font-size:20px;
			line-height: 30px;
		}
		&__dots-1 {
	
			top: 25px;
			right: 40px;
	
		}
		&__dots-2 {

			bottom: 25px;
			left: 40px;
	
		}

	}

}
.subscribe {

	&__body {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__title {
		margin-top: 135px;
		font-family: 'Poppins_600';
		max-width: 500px;
		font-size: 55px;
		line-height: 82px;
		text-align: center;

		color: #0F1F1C;
	}

	&__mail-box {
		width: 60%;
		margin: 60px 0 105px 0;
		background-color: white;
		border-radius: 35px;
		height: 130px;
		position: relative;
		display: flex;
		justify-content: space-between;

		input{
		
			margin: 2%;
			font-family: 'Poppins_500';
			font-size: 24px;
			line-height: 36px;
			/* identical to box height */
			text-align: center;
			color: #0F1F1C;
			opacity: 0.5;


		}
		a{
			font-family: 'Poppins_600';
			font-size: 25px;
			line-height: 38px;
			/* identical to box height */
			padding: 5% 12%;
			width: fit-content;
			text-align: center;
			background-color: #FF7B4E;
			border-radius: 35px;
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 10px;

		}
	}
}
@media (max-width: 1240px){
	.subscribe{
		&__mail-box{
			input{
				font-size: 18px;
			}
		
		}
	}
}
@media(max-width: 980px){
	.subscribe{
		&__mail-box{
			a{
				padding: 1% 2%;
			}
		}
	}
}
@media(max-width: 767px){
	.subscribe{
		&__mail-box{
			height: 100px;
			input{
				font-size: 2vw;
				background-color: transparent;

			}
			a{
				padding: 1% 2%;
				font-size: 3vw;
			}
		}
	}
}
@media (max-width: 390px){
	.subscribe{
		&__title{
			margin-top: 80px;
		}
		&__mail-box{
			width: 80%;
			margin: 90px;
			
			input{
				font-size: 3vw;
				background-color: transparent;

			}
			a{
				padding: 1% 2%;
				font-size: 4.5vw;
			}
		}
	}
}



.footer {

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 75px;

	}

	&__logo {
		font-family: 'Poppins_700';
		font-size: 20px;
		line-height: 30px;
		color: #FF7C4E;
		
	}

	&__menu {
		font-family: 'Poppins_500';
		font-size: 15px;
		line-height: 22px;
		color: #0F1F1C;
		opacity: 0.5;
	}

	&__login {
		font-family: 'Poppins_500';
		font-size: 15px;
		line-height: 22px;
		color: white;
		
		a{
			color: #0F1F1C;
			opacity: 0.5;
			&:nth-last-child(1){
				padding: 14px 44px;
				background-color: #FF7C4E;
				color: white;
				border-radius: 100px;
				margin-left: 66px;
				opacity: 1;
			}
		}
	}
}


.footer-menu {

	&__items {
		a{
			margin-right: 80px;
		}

	}
}
@media(max-width: 980px){
	.footer {
		&__login {

			
			a{
				
				&:nth-last-child(1){
	
					margin-left: 2vw;
					
				}
				}}
				}
	.footer-menu {

		&__items {
			a{
				margin-right: 2vw;
			}
	
		}
	}

}
@media(max-width: 767px){
	.footer {
		&__login {

			
			a{
				
				&:nth-last-child(1){
	
					margin-left: 2vw;
					
				}
				}}
				}
	.footer-menu {

		&__items {
			width: 23vw;
			margin-top: 10px;
			a{
				margin-right: 2vw;
				margin-bottom: 10px;
			}
	
		}
	}
}
@media(max-width: 390px){
	.footer {
		&__login {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			

			
			a{
				text-align: center;
				&:first-child{
					margin-bottom: 10px;
				}
				&:last-child{
					
					margin-left: 0;
					
				}
				}}
				}
	.footer-menu {

		&__items {
			width: 20vw;
			margin-top: 10px;
			a{
				margin-right: 2vw;
				margin-bottom: 10px;
			}
	
		}
	}
}
